/*----------------------------------------*/
/*  1.  Theme default CSS
/*--------------------------- -------------*/
html, body {height: 100%; font-family: 'Roboto', sans-serif;font-weight:400;background:#f3f4ed;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 15px;}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight:700;
}
a {transition: all 0.3s ease 0s;text-decoration:none;}
a:hover{
  color: #ec4445;
  text-decoration: none;
}
a:visited, a:link, a:active {
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.clear{clear:both}



@font-face {
  font-family: 'nalika';
  src:
    url('fonts/nalika.ttf?nukgc0') format('truetype'),
    url('fonts/nalika.woff?nukgc0') format('woff'),
    url('fonts/nalika.svg?nukgc0#nalika') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*----------------------------------------*/
/*  8. Menu collapse Area
/*----------------------------------------*/
.all-content-wrapper {
    margin-left: 205px;
}
.left-sidebar-pro {
    z-index: 9999;
    width: 240px;
}
#sidebar {
    min-width: 205px;
    background: #424642;
    color: #fff;
	position:fixed;
    transition: all 0.3s;
	z-index:999;
	height:100%;
}

/* form inputan dan button */
.form-control {
    background-color: #000108;
    background-image: none;
    border: 1px solid #000108;
    border-radius: 1px;
    display: block;
    padding: 6px 12px;
    width: 400px;
	height:40px;
	color:#fff;
}

.btn{
  color: #fff;
  background-color: #c06014 ;
}
.btn :hover{
  color: #c06014;
  background-color: #fff ;
  border: 1px solid #424642;
}

.form-control{
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #0001082f;
}

.sidebar{
  padding-left: 20px;
  padding-top:40px;
  font-size: 20px;
  font-weight: bold;
}

.text{
  color: #f3f2f2;
}

.text:hover{
  color: #cecece;
}

legend{
  font-weight: bold;
  padding-top: 40px;
  padding-left: 100px;
  
}

.table{

  width: 950px;
  box-shadow: 0 0 20px #3b3b3b31;
  
}

.tabelnya{
  padding-top: 20px;
  padding-left: 20px;
}

.tempe{
  padding-top: 20px;
  padding-left: 250px;
  width: 950px;
  box-shadow: 0 0 20px #3b3b3b31;
}

.tabele{
  padding-left: 300px;
}

.card-body{
  padding-top: 40px;
}
